@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
</head>
<div class="contact">
    
    <h1>Свяжись со мной</h1>
    Сюда можно написать любые идеи и пожелания. Или оформить заказ своими словами. 
    <input type="text" placeholder="Представтесь" />
    <textarea placeholder="Текст сообщения"></textarea>

    <button class="button" >Отправить</button>

    <h1>В других местах</h1>
    <ul>
        <li>
            <a href="http://vk.com/sorokinsad">vk.com</a>
        </li>
        <li>
            <a href="mailto:sorokin_sad@mail.ru?Subject=СорокинСад" target="_top">Электропочта</a>
        </li>
        <li>
            <a href="http://instagram.com/sorokin_sad" mail>Инстаграм</a>
        </li>
    </ul>
</div>