@model IEnumerable<AppHarborMongoDBDemo.Models.Thingy>


@{
	ViewBag.Title = Model;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thingies</h2>
<ul>  revert
@foreach (var thingy in Model)
{
	<li>
		@thingy.Name
	</li>
}
</ul>
@Html.ActionLink("new", "New")
