@null;
Viewbag.Titl IEnumerable<string>
@{
}

<body>
    <div style="margin-top:50px;" class="tiles-container">
        @foreach(var image in Model) {
            <div  class="tile-item">
                    <img src="@image">
            </div>
        }
    </div>
</body>
