@model Thingy
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    @Html.Partial("~/Views/Shared/_Item.cshtml", Model)

    @*<a class="relevant-item-left" href="/item/222">
        <img src="https://static1.squarespace.com/static/52e80969e4b002fc8996b8f1/54f4b27be4b0724ec210a327/57b61f0dd482e9d6d891f991/1471553414968/20160817_122011.jpg" />
     </a>
    <a class="relevant-item-right" href="/item/222">
        <img src="https://static1.squarespace.com/static/52e80969e4b002fc8996b8f1/54f4b27be4b0724ec210a327/57b61f0dd482e9d6d891f991/1471553414968/20160817_122011.jpg" />
    </a>*@
    <h1 style="text-align:center; margin: 10px">Другие изделия:</h1>
    @Html.Partial("~/Views/Shared/_ItemsList.cshtml", @WebDataProvider.Things(Model.Id.ToString()))
    <!-- AddToAny BEGIN -->
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_google_plus"></a>
        <a class="a2a_button_vk"></a>
        <a class="a2a_button_pinterest"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
</body>
</html>
