@model AppHarborMongoDBDemo.Models.Thingy

@{
	ViewBag.Title = "New";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>
<div>
	@using (Html.BeginForm("Create", "Home")){
		<p>
			@Html.LabelFor(x => x.Name)
			@Html.TextBoxFor(x => x.Name)
		</p>
		<p>
			<input type="submit" value="Submit" />
		</p>
	}
</div>
