@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
</head>
<div class="contact">
    
    <h1>Раздел в разработке</h1>
    
    <input type="text" placeholder="Представтесь" />
    <textarea placeholder="Текст сообщения"></textarea>

    <button class="button" >Отправить</button>

    
</div>