@{
    //Layout = null;
    ViewBag.Title = "Процесс";
}

    <div class="process">
     <h1>Тут будут фотки процесса и много текста</h1>
        &nbsp;&nbsp;&nbsp; Известно, что практически ни одно мобильное приложение не обходится без бэкенда.

        <br />
        Если вы мобильный разработчик, то наверняка сталкивались с такими бородатыми дядями, которые меланхолично тянут логику на перле и вечно что-то пишут в консоли. Или может это был сутулый анимешник с длинными волосами, всосавший php с молоком матери.
        Так или иначе, большинство из них ни разу не сталкивалось с мобильной разработкой, а кое-кто считает себя при этом гуру.

        
        <img alt="process" src="https://habrastorage.org/getpro/habr/post_images/97b/8ec/d31/97b8ecd313ebbc7afba8f830f3e963a8.jpg" />

        Специально для таких случаев, я подготовил список вредных советов о том как угробить бэкенд вашего приложения.
        <br />
        Приятного чтения.
        <br />
        &nbsp;&nbsp;&nbsp; Известно, что практически ни одно мобильное приложение не обходится без бэкенда.

        Если вы мобильный разработчик, то наверняка сталкивались с такими бородатыми дядями, которые меланхолично тянут логику на перле и вечно что-то пишут в консоли. Или может это был сутулый анимешник с длинными волосами, всосавший php с молоком матери.
        Так или иначе, большинство из них ни разу не сталкивалось с мобильной разработкой, а кое-кто считает себя при этом гуру.


        <img  alt="process" src="https://habrastorage.org/getpro/habr/post_images/97b/8ec/d31/97b8ecd313ebbc7afba8f830f3e963a8.jpg" />

        Специально для таких случаев, я подготовил список вредных советов о том как угробить бэкенд вашего приложения.
        <br />
        Приятного чтения.
    </div>
