@model IEnumerable<Thingy>

    <div class="tiles-container">
        @for(int i=0;i<10;i++) {
        foreach(var thing in Model) {
            <a href="/item/@thing.Id" class="tile-item">
                @if(thing.Images != null) {
                    <img alt="@thing.Name" src="data:image/png;base64,  @Convert.ToBase64String(thing.Images[0])">
                }
                <div class="tile-item-title">@thing.Name</div>
            </a>
        }
        }
    </div>